langchain
langchain-classic
langchain-community
langchain-core
langchain-deepseek
langchain-openai
langchain-redis
langchain-tavily
langchain-text-splitters
langgraph>=1.0,<2.0
python-dotenv
tiktoken
unstructured
